*{
    padding: 0px;
    margin: 0px;
}
.easier_then_fixing_it_otherwise{
    width: 100%;
    overflow: hidden;
}
header{
    display: flex;
    flex-wrap: wrap;
    width: 1920px;
    height: 1077px;
    background-color: rgb(255, 166, 0);
}

.back_img{
    width: 1920px;
    height: 1077px;
}

.kamelot_logo{
    position: absolute;
    width: 152px;
    height: 177px;
    margin-left: 160px;
}

.info_thing{
    position: absolute;
    display: flex;
    width: 572px;
    height: 24px;
    margin-top: 32px;
    margin-left: 344px;
    gap: 24px;
    color: white;
    font-family: 'geometria', sans-serif;
    font-size: 16px;
}

.phone_thing{
    display: flex;
    width: 285px;
    height: 24px;
    gap: 24px;
}

.account{
    position: absolute;
    display: flex;
    width: 163px;
    height: 24px;
    margin-top: 32px;
    margin-left: 1597px;
    font-family: 'geometria', sans-serif;
    font-size: 16px;
    color: white;
    align-items: center;
    gap: 8px;
}

.buttons_thing{
    position: absolute;
    display: flex;
    width: 1400px;
    height: 32px;
    margin-top: 88px;
    margin-left: 344px;
    color: white;
    font-family: 'geometria', sans-serif;
    font-size: 24px;
    justify-content: space-between;
}

.first_slider_button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background-color: none;
    background: none;
    border: none;
}
.first_slider_button img{
    width: 16px;
    height: 32px;
}
.forth{
    margin-top: 368px;
    margin-left: 1696px;
}
.back{
    margin-top: 368px;
    margin-left: 160px;
}


.slider_iguess{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 1083px;
    height: 336px;
    margin-top: 347px;
    margin-left: 418px;
    color: white;
    font-family: 'geometria', sans-serif;
    font-size: 28px;
    font-weight: 400;
    align-items: center;
}
.slider_iguess_slide{
    display: flex;
    text-align: center;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}
.slide_big_text{
    font-family: 'Lora';
    font-size: 80px;
}
.rent_btn{
    background-color: white;
    border-radius: 32px;
    padding: 14px 24px 14px 24px;
    border: none;
    width: 255px;
    font-size: 18px;
}

.progres_fix{
    width: 79px;
    height: 6px;
    border-radius: 12px;
}
.progres{
    position: absolute;
    background-color: white;
    opacity: 0.2;
    width: 79px;
    height: 6px;
    border-radius: 12px;
}
.progresbar{
    position: absolute;
    background-color: white;
    width: 19.75px;
    height: 6px;
    border-radius: 12px;
}

.rent_fake{
    position: absolute;
    width: 1000px;
    height: 135px;
    margin-top: 892px;
    margin-left: 460px;
}
.rent_fake_btn{
    position: absolute;
    width: 198px;
    height: 49px;
    margin-top: 963px;
    margin-left: 1241px;
    border-radius: 32px;
    border: none;
    background-color: #85301B;
    padding: 14px 24px 14px 24px;
    font-size: 14px;
    color: white;
    font-family: 'geometria', sans-serif;
}

.special{
    display: flex;
    flex-wrap: wrap;
    background-color: #BF8E38;
    width: 1920px;
    height: 800px;
    padding: 100px;
}
.special_text{
    color: white;
    font-size: 64px;
    display: flex;
    justify-content: space-between;
    width: 1600px;
    height: 80px;
}
.special_slider_button_container{
    display: flex;
    gap: 16px;
    height: 80px;
    align-items: center;
}
.special_slider_button{
    width: 52px;
    height: 52px;
    border-radius: 150px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reverse{
    -webkit-transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    transform: scale(-1, -1);
}
.special_slider{
    display: flex;
    width: 1600px;
    height: 660px;
    gap: 24px;
}
.special_slider_slide{
    width: 220px;
    height: 660px;
    overflow: hidden;
    border-radius: 18px;
    transition: 1s;
}
.special_slider_slide img{
    width: auto;
    height: 660px;
    border-radius: 18px;
    filter: brightness(80%);
}
.special_slider_slide:hover{
    width: 868px;
}
.special_slider_slide_text{
    display: flex;
    position: absolute;
    color: white;
    font-size: 24px;
    gap: 18px;
    flex-direction: column;
    height: 660px;
    justify-content: flex-end;
    margin-top: -690px;
    margin-left: 44px;
    opacity: 0;
    transition: 1s;
}
.special_slider_slide_text:hover{
    opacity: 1;
    width: 868px;
}
.special_slider_slide_text_big{
    font-size: 40px;
}
.special_slider_slide_text_btn{
    background-color: white;
    border-radius: 32px;
    padding: 14px 24px 14px 24px;
    font-size: 18px;
    border: none;
    width: 255px;
}
.special_slider_slide_text_fake_hover{
    opacity: 1;
    width: 868px;
}
.special_slider_slide_fake_hover{
    width: 868px;
}

.reasons{
    display: flex;
    flex-wrap: wrap;
    background-color: #EDEAE9;
    width: 1920px;
    height: 1139px;
    padding: 100px 0px 0px 160px;
}
.reasons_cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1600px;
    height: 1019px;
    font-size: 64px;
}
.reasons_cont_text_fix{
    height: 80px;
}
.reasons_themselves_cont{
    display: flex;
    width: 1600px;
    height: 907x;
    font-size: 64px;
    gap: 32px;
}
.reasons_themselves{
    overflow: hidden;
    width: 382px;
    height: 480px;
    border-radius: 18px;
}
.reasons_themselves_text{
    width: 682px;
    height: 682px;
    background-color: white;
    border-radius: 320px;
    margin-top: 360px;
    margin-left: -150px;
    font-size: 22px;
    padding-top: 40px;
    text-align: center;
    font-family: 'geometria', sans-serif;
}
.first_reason{
    background-image: url("first_reason.png");
    background-size: 382px;
    margin-top: 50px;
}
.second_reason{
    background-image: url("second_reason.png");
    background-size: 382px 400px;
    margin-top: 350px;
}
.third_reason{
    background-image: url("third_reason.png");
    background-size: 382px 450px;
    margin-top: 150px;
}
.last_reason{
    background-image: url("last_reason.png");
    background-size: 382px 450px;
    margin-top: 450px;
}

.quote{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 812px;
    background-color: #BF8E38;
    font-size: 80px;
    color: #85301B;
}
.clock{
    position: absolute;
    margin-left: 100px;
}
.quote_text_1{
    margin-top: 150px;
    margin-left: 900px;
    font-style: italic;
}
.quote_text_2{
    margin-top: -100px;
    width: 1100px;
    text-align: left;
    color: white;
    margin-left: 400px;
}

.room_slider{
    user-select: none;
    touch-action: pan-y;
}
.room_slider img{
    pointer-events: none;
}
.room_slider_list{
    overflow-x: hidden;
   user-select: none;
   touch-action: pan-y;
   scroll-snap-type: x mandatory;
}
.room_slider_track{
    flex-shrink: 0;
    display: flex;
}
.room_slider_cont_buttons{
    user-select: none;
    z-index: 11;
    position: absolute;
    justify-self: center;
    display: flex;
    width: 1600px;
    justify-content: space-between;
    margin-top: 280px;
}
.room_slider_img{
    pointer-events: none;
    height: 590px;
    width: 1440px;
    flex-shrink: 0;
}

.room_slider_info{
    height: 490px;
    width: 100%;
    background-color: #EDEAE9;
}
.room_slider_info_progressbar_cont{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
}
.room_slider_info_progress{
    position: absolute;
    border-radius: 12px;
    height: 6px;
    width: 32px;
    background-color: #5A616C;
}
.room_slider_info_progressbar{
    position: absolute;
    border-radius: 12px;
    height: 6px;
    width: 79px;
    background-color: #5A616C;
    opacity: 0.2;
}
.room_slider_info_cont{
    display: flex;
}
.name_and_such{
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    width: 453px;
    gap: 32px;
}
.room_name{
    font-size: 64px;
}
.room_price{
    font-size: 36px;
    color: #5A616C;
}
.check_em_out{
    background-color: #85301B;
    color: white;
    font-size: 18px;
    font-family: 'geometria', sans-serif;
    padding: 14px 0px 14px 0px;
    border: none;
    border-radius: 35px;
    width: 217px;
}
.room_slider_info_text{
    width: 720px;
    margin-top: 60px;
    margin-left: 50px;
    font-family: 'geometria', sans-serif;
    font-size: 24px;
    line-height: 36px;
}

.crown{
    position: absolute;
    width: 270px;
    height: 270px; 
    margin-top: 150px;
    margin-left: 1450px;
}

.quote_text_3{
    margin-top: 150px;
    margin-left: 400px;
    color: white;
}
.quote_text_4{
    text-align: right;
    margin-left: 400px;
    width: 1300px;
    margin-top: -100px;
    font-style: italic;
}

.rewiews{
    font-size: 64px;
    background-color: #EDEAE9;
    padding: 160px 0px 160px 80px;
}
.rewiews_cont{
    height: 424px;
}
.rewiews_scroller{
    margin-top: 30px;
   overflow-x: hidden;
   user-select: none;
   touch-action: pan-y;
   scroll-snap-type: x mandatory;
}
.slider_track{
   display: flex;
   gap: 24px;
}
.rewiew{
    border-radius: 30px;
    flex-shrink: 0;
    background-color: white;
    min-width: 644px;
    width: 604px;
    height: 300px;
   scroll-snap-align: center;
   padding: 40px;
   display: flex;
   flex-direction: column;
   gap: 32px;
}
.rewiew_person{
    display: flex;
    width: 644px;
    justify-content: space-between;
}
.rewiew_name{
    font-size: 20px;
    font-family: 'geometria', sans-serif;
}
.rewiew_date{
    color: #5A616C;
    font-size: 16px;
    font-family: 'geometria', sans-serif;
}
.star{
    width: 24px;
    height: 24px;
}
.star_white{
    width: 25px;
    height: 25px;
    margin-top: 1px;
}
.stars{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}
.rewiew_text{
    font-size: 18px;
    font-family: 'geometria', sans-serif;
    line-height: 28px;
}
.read_all{
    color: #5A616C;
    display: block;
    width: 200px;
}

.rewiews_scroller_controls{
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    margin-top: 30px;
    width: 1700px;
}
.rewiews_scroller_controls_buttons{
    display: flex;
}
.progres_fix_1{
    
}
.progresbar_1{
    border-radius: 12px;
    position: absolute;
    background-color: #5A616C;
    opacity: 0.2;
    width: 160px;
    height: 6px;
}
.progres_1{
    border-radius: 12px;
    position: absolute;
    background-color: #5A616C;
    width: 20px;
    height: 6px;
}

.any_qustions{
    background-image: url("knight.png");
    background-size: 100%;
    width: 100%;
    height: 561px;
    padding-top: 80px;
}
.any_qustions_cont{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 160px;
}
.any_qustions_cont_text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 24px;
    color: white;
}
.any_qustions_cont_text_big{
    font-size: 64px;
    color: white;
}
.any_qustions_cont_text_small{
    font-family: 'geometria', sans-serif;
}
.any_qustions_cont_inputs{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.idk_anymore{
    display: flex;
    gap: 12px;
}
.any_qustions_cont_agree{
    display: flex;
}
.send{
    background-color: #85301B;
    color: white;
    font-size: 18px;
    font-family: 'geometria', sans-serif;
    padding: 14px 24px 14px 24px;
    border: none;
    border-radius: 35px;
}
.agree{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid white;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.agree:checked{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.checkbox{
    font-family: 'geometria', sans-serif;
    color: white;
    gap: 10px;
    display: flex;
    font-size: 14px;
    margin-top: 12px;
    margin-left: 20px;
}

.name{
    padding: 15px;
    width: 222px;
    height: 25px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-family: 'geometria', sans-serif;
}
.phone_number{
    padding: 15px;
    width: 222px;
    height: 25px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-family: 'geometria', sans-serif;
}
.question{
    padding: 15px;
    width: 488px;
    height: 141px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-family: 'geometria', sans-serif;
    resize: none;
}

.map{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 1624px;
    background-color: #BF8E38;
    font-size: 80px;
    color: #85301B;
}

.dragon{
    position: absolute;
    width: 305px;
    height: 203px; 
    margin-top: 150px;
    margin-left: 450px;
}

.map_text_1{
    margin-top: 150px;
    margin-left: 900px;
    width: 700px;
    font-style: italic;
    text-align: right;
}

.map_text_2{
    color: white;
    margin-top: -600px;
    margin-left: 420px;
    width: 1200px;
}

.map_itself{
    position: absolute;
    margin-top: 800px;
    margin-left: 150px;
    border-radius: 18px;
}

.hidden{
    display: none;
}